<!-- navbar.html -->
<nav>
    <ul style="list-style-type: none; margin: 0; padding: 0; background-color: #f1f1f1; overflow: hidden;">
        <li style="float: left;"><a style="display: block; color: #333; text-align: center; padding: 14px 16px; text-decoration: none;" href="{{ url_for('index') }}">Home</a></li>
        <li style="float: left;"><a style="display: block; color: #333; text-align: center; padding: 14px 16px; text-decoration: none;" href="{{ url_for('get_exercises') }}">Exercises</a></li>
        <li style="float: left;"><a style="display: block; color: #333; text-align: center; padding: 14px 16px; text-decoration: none;" href="{{ url_for('get_my_exercises') }}">My Exercises</a></li>
        <li style="float: left;"><a style="display: block; color: #333; text-align: center; padding: 14px 16px; text-decoration: none;" href="{{ url_for('random_exercise') }}">Random</a></li>
    </ul>
</nav>

